---
import Container from "./Container.astro"

---

<div id="blog">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Latest Works</h2>
        <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
          Fell free to explore! - make sure to contact me 
        </p>
      </div>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <a class="inline-block" href="https://www.yenegew-zaf.com/" target="_blank">

            <img src="./images/clients/YZ.PNG" class="object-contain h-350 w-full mx-auto" loading="lazy" alt="client logo" />
          </div>
          <div class="mt-6 relative">

            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
                Yenegew_ZAf 
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
               Made a website on Laravel & php ...
            </p>
            <a class="inline-block" href="https://www.yenegew-zaf.com/" target="_blank">
                <span class="text-info dark:text-blue-300">Read more</span>
            </a>
        </div>
        
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105">
            <img src="./images/clients/Apex.png" class="object-contain h-350 w-full mx-auto" loading="lazy" alt="client logo" />
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              APEX INDIAN SPECIALITY HOSPITAL
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Made a website ON vue.js 
            </p>
            <a class="inline-block" href="#">
              <a class="inline-block" href="https://apexindianhospital.com/" target="_blank">

              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              My Laundry App 
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Made and app on React Native ...
            </p>
            <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>
          
        </div>
      </div>
  </Container>
</div>